@page
@model IndexModel
@{
    ViewData["Title"] = "My films";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Личная база данных твоих любимых фильмов</p>
    <img src="http://www.belnovosti.ru/files/kino.png" alt="lorem">

</div>
